In [1]:
# Dependencies
import pandas as pd
import numpy as np
import io
import requests
import json
from config import key

In [2]:
# Import SQLAlchemy `automap` and other dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Dow Jones Industrial Average

In [3]:
# Build the endpoint URL for Dow Jones Industrial Average
# Time : one day interval
target_url = (f'https://api.twelvedata.com/time_series?symbol=DJI&start_date=2020-01-01&interval=1day&apikey={key}')

In [4]:
# Run a request to endpoint and convert result to json
DJI_data = requests.get(target_url).json()

In [5]:
# Print the json (pretty printed)
#print(json.dumps(DJI_data, indent=4, sort_keys=True))

In [6]:
DJI_df = pd.DataFrame (DJI_data["values"])
#DJI_df= DJI_df.rename(columns={"index":"id"})
DJI_df["name"] = "DJI"

In [7]:
#convert to csv file
DJI_df.to_csv("DJI.csv",index=False)
DJI_df.head()

,datetime,open,high,low,close,volume,name
0,2020-04-03,21277.83984,21447.81055,20863.08984,21054.61914,277424168,DJI
1,2020-04-02,20819.46094,21477.76953,20735.01953,21406.92969,320379192,DJI
2,2020-04-01,21044.76953,21487.24023,20784.42969,20956.18945,297331882,DJI
3,2020-03-31,22208.41992,22480.36914,21852.08008,21927.91016,285960369,DJI
4,2020-03-30,21824.17969,22378.08984,21522.08008,22322.91016,299583961,DJI

# S&P 500

In [8]:
# Build the endpoint URL for S&P 500
# Time : one day interval
target_url = (f'https://api.twelvedata.com/time_series?symbol=GSPC&start_date=2020-01-01&interval=1day&apikey={key}')

In [9]:
# Run a request to endpoint and convert result to json
SNP_data = requests.get(target_url).json()

In [10]:
# Print the json (pretty printed)
#print(json.dumps(SNP_data["values"], indent=4, sort_keys=True))

In [11]:
SNP_df = pd.DataFrame (SNP_data["values"])
#SNP_df= SNP_df.rename(columns={"index":"id"})
SNP_df["name"] = "SNP"

In [12]:
#convert to csv file
SNP_df.to_csv("SNP.csv",index=False)
SNP_df.head()

     datetime        open        high         low       close      volume name
0  2020-04-03  2515.97998  2538.17993  2460.75000  2488.57007  2249248488  SNP
1  2020-04-02  2457.53003  2532.76001  2455.80005  2525.67993  2645023668  SNP
2  2020-04-01  2490.07007  2522.75000  2447.48999  2471.87012  2584120998  SNP
3  2020-03-31  2614.82007  2640.98999  2571.14990  2578.52002  2407325533  SNP
4  2020-03-30  2565.37988  2631.80005  2545.28003  2626.04004  2225339428  SNP

# NASDAQ

In [13]:
# Build the endpoint URL for NASDAQ 
# Time : one day interval
target_url = (f'https://api.twelvedata.com/time_series?symbol=IXIC&start_date=2020-01-01&interval=1day&apikey={key}')

In [14]:
# Run a request to endpoint and convert result to json
IXIC_data = requests.get(target_url).json()

In [15]:
# Print the json (pretty printed)
#print(json.dumps(IXIC_data["values"], indent=4, sort_keys=True))

In [16]:
IXIC_df = pd.DataFrame (IXIC_data["values"])
#IXIC_df= IXIC_df.rename(columns={"index":"id"})
IXIC_df["name"] = "IXIC"

In [17]:
#convert to csv file
IXIC_df.to_csv("Nasdaq.csv",index=False)
IXIC_df.head()

,datetime,open,high,low,close,volume,name
0,2020-04-03,7450.86230,7518.30908,7288.15088,7372.26465,3387988635,IXIC
1,2020-04-02,7323.77344,7501.69824,7308.38867,7482.01221,3311519119,IXIC
2,2020-04-01,7459.72363,7566.34619,7301.97852,7365.45605,4434303357,IXIC
3,2020-03-31,7743.04980,7880.31348,7642.87939,7694.66943,1761597860,IXIC
4,2020-03-30,7587.31055,7784.34619,7539.96582,7770.03711,1979451848,IXIC

# VIX

In [18]:
# Build the endpoint URL for VIX 
# Time : one day interval
target_url = (f'https://api.twelvedata.com/time_series?symbol=VIX&start_date=2020-01-01&interval=1day&apikey={key}')

In [19]:
# Run a request to endpoint and convert result to json
VIX_data = requests.get(target_url).json()

In [20]:
# Print the json (pretty printed)
#print(json.dumps(VIX_data["values"], indent=4, sort_keys=True))

In [21]:
VIX_df = pd.DataFrame (VIX_data["values"])
#VIX_df= VIX_df.rename(columns={"index":"id"})
VIX_df["name"] = "VIX"
VIX_df["volume"] = None

In [22]:
#convert to csv file
VIX_df.to_csv("VIX.csv",index=False)
VIX_df.head()

     datetime      open      high       low     close volume name
0  2020-04-03  50.01000  51.00000  47.65000  48.25000   None  VIX
1  2020-04-02  55.38000  56.91000  50.77000  50.83000   None  VIX
2  2020-04-01  56.56000  58.64000  52.93000  56.45000   None  VIX
3  2020-03-31  56.38000  56.38000  50.91000  53.39000   None  VIX
4  2020-03-30  63.22000  64.25000  56.60000  56.86000   None  VIX

# Bitcoin

In [23]:
# Build the endpoint URL for Bitcoin
#Time : one day interval
# symbol ex: BTC/USD or XRP/ETH
# Exchange where cryptocurrency is traded is optional
target_url = (f'https://api.twelvedata.com/time_series?symbol=BTC/USD&start_date=2020-01-01&exchange=Binance&interval=1day&apikey={key}')

In [24]:
# Run a request to endpoint and convert result to json
BTC_data = requests.get(target_url).json()

In [25]:
# Print the json (pretty printed)
#print(json.dumps(BTC_data["values"], indent=4, sort_keys=True))

In [26]:
BTC_df = pd.DataFrame (BTC_data["values"])
#BTC_df = BTC_df.rename(columns={"index":"id"})
BTC_df["name"] = "BTC"
BTC_df["volume"] = None

In [27]:
#convert to csv file
BTC_df.to_csv("BTC.csv",index=False)
BTC_df.head()

     datetime        open        high         low       close name volume
0  2020-04-03  6792.41992  7033.10986  6615.97998  6774.66992  BTC   None
1  2020-04-02  6699.58008  7154.56982  6569.14014  6806.35010  BTC   None
2  2020-04-01  6423.12988  6669.81006  6153.66992  6639.93994  BTC   None
3  2020-03-31  6384.00000  6515.29980  6341.29004  6410.77002  BTC   None
4  2020-03-30  5892.29004  6560.00000  5865.97998  6394.43018  BTC   None

# Combine Indices and Bitcoin

In [28]:
#combine stocks
combinestocksdf = pd.concat([DJI_df,BTC_df,SNP_df,IXIC_df,VIX_df],ignore_index=True)
combinestocksdf = combinestocksdf.reset_index()
combinestocksdf = combinestocksdf.rename(columns={"index":"id"}) 
combinestocksdf.to_csv("stocks.csv",index=False)
combinestocksdf.head()

C:\Users\kenne\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,id,close,datetime,high,low,name,open,volume
0,0,21054.61914,2020-04-03,21447.81055,20863.08984,DJI,21277.83984,277424168
1,1,21406.92969,2020-04-02,21477.76953,20735.01953,DJI,20819.46094,320379192
2,2,20956.18945,2020-04-01,21487.24023,20784.42969,DJI,21044.76953,297331882
3,3,21927.91016,2020-03-31,22480.36914,21852.08008,DJI,22208.41992,285960369
4,4,22322.91016,2020-03-30,22378.08984,21522.08008,DJI,21824.17969,299583961

# COVID-19

In [29]:
# Build the endpoint URL for COVID-19
# A summary of new and total cases per country updated daily.
# Source : https://covid19api.com/
target_url = ('https://api.covid19api.com/summary')

In [30]:
# Run a request to endpoint and convert result to json
COVID19_data = requests.get(target_url).json()

In [31]:
# Print the json (pretty printed)
#print(json.dumps(COVID19_data, indent=4, sort_keys=True))

In [32]:
COVID19_df = pd.DataFrame (COVID19_data["Countries"]).reset_index()
COVID19_df = COVID19_df.rename(columns={"index":"id"})

In [33]:
#convert to csv file
COVID19_df.to_csv("COVID19.csv",index=False)
COVID19_df.head()

,id,Country,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered
0,0,,,0,0,0,0,0,0
1,1,Azerbaijan,-azerbaijan,0,0,0,0,0,0
2,2,Afghanistan,afghanistan,36,273,2,6,5,10
3,3,Albania,albania,18,277,1,16,9,76
4,4,Algeria,algeria,139,986,28,86,0,61

# COVID-19 by country - US

In [34]:
# Build the endpoint URL for COVID-19 by country
# Returns confirmed type for a country from the first recorded case. 
# Source : https://covid19api.com/
target_url = ('https://api.covid19api.com/total/dayone/country/us/status/confirmed')

In [35]:
# Run a request to endpoint and convert result to json
US_data = requests.get(target_url).json()

In [36]:
# Print the json (pretty printed)
#print(json.dumps(US_data, indent=4, sort_keys=True))

In [37]:
US_df = pd.DataFrame (US_data).reset_index()
US_df = US_df.rename(columns={"index":"id"})

In [38]:
#convert to csv file
US_df.to_csv("US_Covid19.csv",index=False)
US_df.head()

   id Country Province  Lat  Lon                  Date  Cases     Status
0   0      US             0    0  2020-01-22T00:00:00Z      1  confirmed
1   1      US             0    0  2020-01-23T00:00:00Z      1  confirmed
2   2      US             0    0  2020-01-24T00:00:00Z      2  confirmed
3   3      US             0    0  2020-01-25T00:00:00Z      2  confirmed
4   4      US             0    0  2020-01-26T00:00:00Z      5  confirmed

# COVID-19 by country - ALL

In [39]:
# Build the endpoint URL for COVID-19 by country all data
# Returns confirmed type for a country from the first recorded case. 
# Source : https://covid19api.com/
target_url = ('https://api.covid19api.com/all')

In [40]:
# Run a request to endpoint and convert result to json
all_data = requests.get(target_url).json()

In [41]:
# Print the json (pretty printed)
#print(json.dumps(US_data, indent=4, sort_keys=True))

In [42]:
all_df = pd.DataFrame (all_data).reset_index()
all_df = all_df.rename(columns={"index":"id"})

In [43]:
#convert to csv file
all_df.to_csv("all_Covid19.csv",index=False)
all_df

,id,Country,Province,Lat,Lon,Date,Cases,Status
0,0,,,0.0000,0.0000,0001-01-01T00:00:00Z,0,
1,1,Azerbaijan,,0.0000,0.0000,2020-02-28T00:00:00Z,1,confirmed
2,2,Azerbaijan,,0.0000,0.0000,2020-02-28T00:00:00Z,0,recovered
3,3,Azerbaijan,,0.0000,0.0000,2020-02-28T00:00:00Z,0,deaths
4,4,Afghanistan,,33.0000,65.0000,2020-02-24T00:00:00Z,1,confirmed
...,...,...,...,...,...,...,...,...
128885,128885,Zimbabwe,,-19.0154,29.1549,2020-04-01T00:00:00Z,0,recovered
128886,128886,Zimbabwe,,-19.0154,29.1549,2020-04-01T00:00:00Z,1,deaths
128887,128887,Zimbabwe,,-19.0154,29.1549,2020-04-02T00:00:00Z,9,confirmed
128888,128888,Zimbabwe,,-19.0154,29.1549,2020-04-02T00:00:00Z,0,recovered
128889,128889,Zimbabwe,,-19.0154,29.1549,2020-04-02T00:00:00Z,1,deaths