In [1]:
# Dependencies
import pandas as pd
import numpy as np
import io
import requests
import json

# API Key
#from config import key

In [2]:
# Import SQLAlchemy `automap` and other dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Dow Jones 30 Companies

In [44]:
# Build the endpoint URL for Dow 30 companies Jones Industrial Average
# Time : one day interval
target_url = ('https://api.twelvedata.com/time_series?symbol=MMM,AXP,AAPL,BA,CAT,CVX,CSCO,KO,DIS,DOW,XOM,GS,HD,IBM,INTC,JNJ,JPM,MCD,MRK,MSFT,NKE,PFE,PG,TRV,UTX,UNH,VZ,V,WMT,WBA&interval=1day&format=JSON&start_date=2020-03-30%2011:18:00&end_date=2020-03-31%2011:18:00&apikey=b038f2a0c07c441693f65d634334050f')

In [45]:
# Run a request to endpoint and convert result to json
DJ30_data = requests.get(target_url).json()

In [46]:
# Print the json (pretty printed)
print(json.dumps(DJ30_data, indent=4, sort_keys=True))

{
    "AAPL": {
        "meta": {
            "currency": "USD",
            "exchange": "NASDAQ",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "AAPL",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "254.28999",
                "datetime": "2020-03-31",
                "high": "262.48999",
                "low": "252.00000",
                "open": "255.60001",
                "volume": "49147500"
            }
        ]
    },
    "AXP": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "AXP",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "90.27000",
                "datetime": "2020-03-30",
                "high": "91.39000",
                "low": "85.27000",
                "open": "88.51000",
                "volume": "5562700"
            }
        ]
    },
    "BA": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "BA",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "-1.00000",
                "datetime": "2020-03-30",
                "high": "-1.00000",
                "low": "-1.00000",
                "open": "-1.00000",
                "volume": "-1"
            }
        ]
    },
    "CAT": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "CAT",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "111.71000",
                "datetime": "2020-03-30",
                "high": "112.84000",
                "low": "104.93000",
                "open": "106.33000",
                "volume": "5724400"
            }
        ]
    },
    "CSCO": {
        "meta": {
            "currency": "USD",
            "exchange": "NASDAQ",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "CSCO",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "40.32000",
                "datetime": "2020-03-30",
                "high": "40.49000",
                "low": "38.96000",
                "open": "39.45000",
                "volume": "27113000"
            }
        ]
    },
    "CVX": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "CVX",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "71.95000",
                "datetime": "2020-03-30",
                "high": "72.93000",
                "low": "67.02000",
                "open": "68.01000",
                "volume": "18483700"
            }
        ]
    },
    "DIS": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "DIS",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "99.80000",
                "datetime": "2020-03-30",
                "high": "100.46000",
                "low": "92.10000",
                "open": "96.00000",
                "volume": "23109200"
            }
        ]
    },
    "DOW": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "DOW",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "28.65000",
                "datetime": "2020-03-30",
                "high": "29.39000",
                "low": "27.81000",
                "open": "28.31000",
                "volume": "6815300"
            }
        ]
    },
    "GS": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "GS",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "159.62000",
                "datetime": "2020-03-30",
                "high": "160.42999",
                "low": "153.17999",
                "open": "158.52000",
                "volume": "4151700"
            }
        ]
    },
    "HD": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "HD",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "196.10001",
                "datetime": "2020-03-30",
                "high": "198.20000",
                "low": "187.61000",
                "open": "190.57001",
                "volume": "6936200"
            }
        ]
    },
    "IBM": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "IBM",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "112.93000",
                "datetime": "2020-03-30",
                "high": "113.46000",
                "low": "107.81000",
                "open": "108.09000",
                "volume": "5562500"
            }
        ]
    },
    "INTC": {
        "meta": {
            "currency": "USD",
            "exchange": "NASDAQ",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "INTC",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "55.49000",
                "datetime": "2020-03-30",
                "high": "56.10000",
                "low": "52.83000",
                "open": "52.99000",
                "volume": "31621100"
            }
        ]
    },
    "JNJ": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "JNJ",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "133.00999",
                "datetime": "2020-03-30",
                "high": "133.99001",
                "low": "127.50000",
                "open": "128.46001",
                "volume": "21680100"
            }
        ]
    },
    "JPM": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "JPM",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "93.50000",
                "datetime": "2020-03-30",
                "high": "94.09000",
                "low": "89.30000",
                "open": "90.65000",
                "volume": "21651700"
            }
        ]
    },
    "KO": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "KO",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "45.00000",
                "datetime": "2020-03-30",
                "high": "45.56000",
                "low": "43.04000",
                "open": "43.04000",
                "volume": "23446000"
            }
        ]
    },
    "MCD": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "MCD",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "165.35001",
                "datetime": "2020-03-31",
                "high": "169.50999",
                "low": "165.00000",
                "open": "166.84000",
                "volume": "4519900"
            }
        ]
    },
    "MMM": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "MMM",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "136.50999",
                "datetime": "2020-03-31",
                "high": "139.44000",
                "low": "135.67999",
                "open": "135.69000",
                "volume": "3613700"
            }
        ]
    },
    "MRK": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "MRK",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "76.94000",
                "datetime": "2020-03-31",
                "high": "77.60000",
                "low": "75.52000",
                "open": "76.25000",
                "volume": "14389000"
            }
        ]
    },
    "MSFT": {
        "meta": {
            "currency": "USD",
            "exchange": "NASDAQ",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "MSFT",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "157.71001",
                "datetime": "2020-03-31",
                "high": "164.78000",
                "low": "156.56000",
                "open": "159.39999",
                "volume": "77761800"
            }
        ]
    },
    "NKE": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "NKE",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "82.74000",
                "datetime": "2020-03-31",
                "high": "85.73000",
                "low": "82.40000",
                "open": "85.13000",
                "volume": "9610100"
            }
        ]
    },
    "PFE": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "PFE",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "32.64000",
                "datetime": "2020-03-31",
                "high": "33.00000",
                "low": "32.24000",
                "open": "32.40000",
                "volume": "27956500"
            }
        ]
    },
    "PG": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "PG",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "110.00000",
                "datetime": "2020-03-31",
                "high": "114.29000",
                "low": "108.95000",
                "open": "113.50000",
                "volume": "21691000"
            }
        ]
    },
    "TRV": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "TRV",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "99.35000",
                "datetime": "2020-03-31",
                "high": "101.72000",
                "low": "99.01000",
                "open": "100.74000",
                "volume": "2919500"
            }
        ]
    },
    "UNH": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "UNH",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "-1.00000",
                "datetime": "2020-03-30",
                "high": "-1.00000",
                "low": "-1.00000",
                "open": "-1.00000",
                "volume": "-1"
            }
        ]
    },
    "UTX": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "UTX",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "94.33000",
                "datetime": "2020-03-31",
                "high": "99.20000",
                "low": "93.87000",
                "open": "97.28000",
                "volume": "7310700"
            }
        ]
    },
    "V": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "V",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "161.12000",
                "datetime": "2020-03-31",
                "high": "168.19000",
                "low": "160.53999",
                "open": "166.42999",
                "volume": "20600400"
            }
        ]
    },
    "VZ": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "VZ",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "53.73000",
                "datetime": "2020-03-31",
                "high": "54.54000",
                "low": "53.55000",
                "open": "54.07000",
                "volume": "21241600"
            }
        ]
    },
    "WBA": {
        "meta": {
            "currency": "USD",
            "exchange": "NASDAQ",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "WBA",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "45.75000",
                "datetime": "2020-03-31",
                "high": "47.47000",
                "low": "44.74000",
                "open": "45.27000",
                "volume": "9305200"
            }
        ]
    },
    "WMT": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "WMT",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "113.70000",
                "datetime": "2020-03-31",
                "high": "116.17010",
                "low": "112.64000",
                "open": "114.35000",
                "volume": "6577906"
            }
        ]
    },
    "XOM": {
        "meta": {
            "currency": "USD",
            "exchange": "NYSE",
            "exchange_timezone": "America/New_York",
            "interval": "1day",
            "symbol": "XOM",
            "type": "Common Stock"
        },
        "status": "ok",
        "values": [
            {
                "close": "37.97000",
                "datetime": "2020-03-31",
                "high": "39.45000",
                "low": "37.37000",
                "open": "38.35500",
                "volume": "32449905"
            }
        ]
    }
}

In [47]:
DJ30_df = pd.DataFrame (DJ30_data["values"])
#DJI_df= DJI_df.rename(columns={"index":"id"})
DJ30_df["name"] = "DJ30"

KeyError: 'values'

In [ ]:
#convert to csv file
DJ30_df.to_csv("DJ30.csv",index=False)
DJ30_df.head()

# Dow Jones Industrial Average

In [3]:
# Build the endpoint URL for Dow Jones Industrial Average
# Time : one day interval
target_url = ('https://api.twelvedata.com/time_series?symbol=DJI&start_date=2020-01-01&interval=1day&apikey=b038f2a0c07c441693f65d634334050f')

In [4]:
# Run a request to endpoint and convert result to json
DJI_data = requests.get(target_url).json()

In [5]:
# Print the json (pretty printed)
#print(json.dumps(DJI_data, indent=4, sort_keys=True))

In [6]:
DJI_df = pd.DataFrame (DJI_data["values"])
#DJI_df= DJI_df.rename(columns={"index":"id"})
DJI_df["name"] = "DJI"

In [7]:
#convert to csv file
DJI_df.to_csv("DJI.csv",index=False)
DJI_df.head()

,datetime,open,high,low,close,volume,name
0,2020-04-01,21044.76953,21487.24023,20784.42969,20956.18945,297331882,DJI
1,2020-03-31,22208.41992,22480.36914,21852.08008,21927.91016,285960369,DJI
2,2020-03-30,21824.17969,22378.08984,21522.08008,22322.91016,299583961,DJI
3,2020-03-27,21898.47070,22327.57031,21472.33984,21612.61914,354169567,DJI
4,2020-03-26,21619.48047,22595.06055,21490.67969,22535.64062,403068931,DJI

# S&P 500

In [8]:
# Build the endpoint URL for S&P 500
# Time : one day interval
target_url = ('https://api.twelvedata.com/time_series?symbol=GSPC&start_date=2020-01-01&interval=1day&apikey=b038f2a0c07c441693f65d634334050f')

In [9]:
# Run a request to endpoint and convert result to json
SNP_data = requests.get(target_url).json()

In [10]:
# Print the json (pretty printed)
#print(json.dumps(SNP_data["values"], indent=4, sort_keys=True))

In [11]:
SNP_df = pd.DataFrame (SNP_data["values"])
#SNP_df= SNP_df.rename(columns={"index":"id"})
SNP_df["name"] = "SNP"

In [12]:
#convert to csv file
SNP_df.to_csv("SNP.csv",index=False)
SNP_df.head()

     datetime        open        high         low       close      volume name
0  2020-04-01  2490.07007  2522.75000  2447.48999  2471.87012  2584120998  SNP
1  2020-03-31  2614.82007  2640.98999  2571.14990  2578.52002  2407325533  SNP
2  2020-03-30  2565.37988  2631.80005  2545.28003  2626.04004  2225339428  SNP
3  2020-03-27  2543.04004  2615.90991  2520.65991  2540.04004  2063538660  SNP
4  2020-03-26  2521.12012  2637.01001  2506.44995  2629.37012  2655840625  SNP

# NASDAQ

In [13]:
# Build the endpoint URL for NASDAQ 
# Time : one day interval
target_url = ('https://api.twelvedata.com/time_series?symbol=IXIC&start_date=2020-01-01&interval=1day&apikey=b038f2a0c07c441693f65d634334050f')

In [14]:
# Run a request to endpoint and convert result to json
IXIC_data = requests.get(target_url).json()

In [15]:
# Print the json (pretty printed)
#print(json.dumps(IXIC_data["values"], indent=4, sort_keys=True))

In [16]:
IXIC_df = pd.DataFrame (IXIC_data["values"])
#IXIC_df= IXIC_df.rename(columns={"index":"id"})
IXIC_df["name"] = "IXIC"

In [17]:
#convert to csv file
IXIC_df.to_csv("Nasdaq.csv",index=False)
IXIC_df.head()

,datetime,open,high,low,close,volume,name
0,2020-04-01,7459.72363,7566.34619,7301.97852,7365.45605,4434303357,IXIC
1,2020-03-31,7743.04980,7880.31348,7642.87939,7694.66943,1761597860,IXIC
2,2020-03-30,7587.31055,7784.34619,7539.96582,7770.03711,1979451848,IXIC
3,2020-03-27,7574.37207,7715.94189,7493.79736,7499.83838,3446107920,IXIC
4,2020-03-26,7468.89111,7808.19678,7468.89111,7792.99756,6878229161,IXIC

# NASDAQ 100

In [18]:
# Build the endpoint URL for NASDAQ 
# Time : one day interval
target_url = ('https://api.twelvedata.com/time_series?symbol=NDX&start_date=2020-01-01&interval=1day&apikey=b038f2a0c07c441693f65d634334050f')

In [19]:
# Run a request to endpoint and convert result to json
NDX_data = requests.get(target_url).json()

In [20]:
# Print the json (pretty printed)
print(json.dumps(NDX_data["values"], indent=4, sort_keys=True))

[
    {
        "close": "7365.45605",
        "datetime": "2020-04-01",
        "high": "7566.34619",
        "low": "7301.97852",
        "open": "7459.72363",
        "volume": "4434303357"
    },
    {
        "close": "7694.66943",
        "datetime": "2020-03-31",
        "high": "7880.31348",
        "low": "7642.87939",
        "open": "7743.04980",
        "volume": "1761597860"
    },
    {
        "close": "7770.03711",
        "datetime": "2020-03-30",
        "high": "7784.34619",
        "low": "7539.96582",
        "open": "7587.31055",
        "volume": "1979451848"
    },
    {
        "close": "7499.83838",
        "datetime": "2020-03-27",
        "high": "7715.94189",
        "low": "7493.79736",
        "open": "7574.37207",
        "volume": "3446107920"
    },
    {
        "close": "7792.99756",
        "datetime": "2020-03-26",
        "high": "7808.19678",
        "low": "7468.89111",
        "open": "7468.89111",
        "volume": "6878229161"
    },
    {
        "close": "7383.61963",
        "datetime": "2020-03-25",
        "high": "7670.94434",
        "low": "7276.55908",
        "open": "7418.16309",
        "volume": "7215439423"
    },
    {
        "close": "7412.11377",
        "datetime": "2020-03-24",
        "high": "7412.11377",
        "low": "7169.86084",
        "open": "7205.24219",
        "volume": "4028199760"
    },
    {
        "close": "6854.73291",
        "datetime": "2020-03-23",
        "high": "6984.60352",
        "low": "6632.15430",
        "open": "6855.82861",
        "volume": "2748553987"
    },
    {
        "close": "6870.25537",
        "datetime": "2020-03-20",
        "high": "7353.59375",
        "low": "6854.67041",
        "open": "7246.74365",
        "volume": "2294015009"
    },
    {
        "close": "7147.15918",
        "datetime": "2020-03-19",
        "high": "7341.23340",
        "low": "6859.47021",
        "open": "6996.28711",
        "volume": "937467846"
    },
    {
        "close": "7039.01611",
        "datetime": "2020-03-18",
        "high": "7181.02881",
        "low": "6686.64746",
        "open": "6926.21191",
        "volume": "1069934496"
    },
    {
        "close": "7331.93799",
        "datetime": "2020-03-17",
        "high": "7405.18506",
        "low": "6829.95996",
        "open": "7075.31934",
        "volume": "563702922"
    },
    {
        "close": "6900.25195",
        "datetime": "2020-03-16",
        "high": "7422.08643",
        "low": "6882.86377",
        "open": "7392.72852",
        "volume": "3711210092"
    },
    {
        "close": "7308.78809",
        "datetime": "2020-03-12",
        "high": "7530.14600",
        "low": "7263.42822",
        "open": "7399.89697",
        "volume": "1710186152"
    },
    {
        "close": "7953.23682",
        "datetime": "2020-03-11",
        "high": "8179.73682",
        "low": "7853.12842",
        "open": "8135.79639",
        "volume": "6184943175"
    },
    {
        "close": "8341.73633",
        "datetime": "2020-03-10",
        "high": "8341.73633",
        "low": "7930.43066",
        "open": "8219.76074",
        "volume": "4419913152"
    },
    {
        "close": "7943.46436",
        "datetime": "2020-03-09",
        "high": "8243.23340",
        "low": "7943.46436",
        "open": "7961.88672",
        "volume": "3009764561"
    },
    {
        "close": "8573.75195",
        "datetime": "2020-03-06",
        "high": "8612.29590",
        "low": "8375.22266",
        "open": "8478.81641",
        "volume": "6916672345"
    },
    {
        "close": "8742.39355",
        "datetime": "2020-03-05",
        "high": "8920.49414",
        "low": "8677.40820",
        "open": "8793.82129",
        "volume": "9562372541"
    },
    {
        "close": "9013.53125",
        "datetime": "2020-03-04",
        "high": "9019.36035",
        "low": "8757.89258",
        "open": "8836.55176",
        "volume": "4890284480"
    },
    {
        "close": "8676.51172",
        "datetime": "2020-03-03",
        "high": "9070.32227",
        "low": "8604.10352",
        "open": "8965.10449",
        "volume": "4386397051"
    },
    {
        "close": "8952.16992",
        "datetime": "2020-03-02",
        "high": "8952.80957",
        "low": "8543.34961",
        "open": "8667.13965",
        "volume": "4232760000"
    },
    {
        "close": "8567.37012",
        "datetime": "2020-02-28",
        "high": "8591.82031",
        "low": "8264.16016",
        "open": "8269.74023",
        "volume": "5301170000"
    },
    {
        "close": "8566.48047",
        "datetime": "2020-02-27",
        "high": "8904.11035",
        "low": "8562.04980",
        "open": "8744.03027",
        "volume": "390750000"
    },
    {
        "close": "8980.78027",
        "datetime": "2020-02-26",
        "high": "9148.32031",
        "low": "8927.79980",
        "open": "9011.54980",
        "volume": "3567830000"
    },
    {
        "close": "8965.61035",
        "datetime": "2020-02-25",
        "high": "9315.25977",
        "low": "8940.49023",
        "open": "9301.20020",
        "volume": "3583400000"
    },
    {
        "close": "9221.28027",
        "datetime": "2020-02-24",
        "high": "9322.87988",
        "low": "9166.00977",
        "open": "9188.44043",
        "volume": "3177000000"
    },
    {
        "close": "9576.58984",
        "datetime": "2020-02-21",
        "high": "9715.95020",
        "low": "9542.33008",
        "open": "9708.00977",
        "volume": "2743010000"
    },
    {
        "close": "9750.96973",
        "datetime": "2020-02-20",
        "high": "9820.86035",
        "low": "9636.94043",
        "open": "9799.20020",
        "volume": "2735610000"
    },
    {
        "close": "9817.17969",
        "datetime": "2020-02-19",
        "high": "9838.37012",
        "low": "9777.09961",
        "open": "9782.80957",
        "volume": "2462530000"
    },
    {
        "close": "9732.74023",
        "datetime": "2020-02-18",
        "high": "9747.67969",
        "low": "9675.79980",
        "open": "9679.04004",
        "volume": "2273460000"
    },
    {
        "close": "9731.17969",
        "datetime": "2020-02-14",
        "high": "9746.36035",
        "low": "9693.04980",
        "open": "9728.90039",
        "volume": "2222240000"
    },
    {
        "close": "9711.96973",
        "datetime": "2020-02-13",
        "high": "9748.32031",
        "low": "9650.01953",
        "open": "9657.04004",
        "volume": "2239270000"
    },
    {
        "close": "9725.95996",
        "datetime": "2020-02-12",
        "high": "9728.76953",
        "low": "9666.69043",
        "open": "9688.59961",
        "volume": "2355000000"
    },
    {
        "close": "9638.94043",
        "datetime": "2020-02-11",
        "high": "9714.74023",
        "low": "9617.20996",
        "open": "9680.88965",
        "volume": "2423670000"
    },
    {
        "close": "9628.38965",
        "datetime": "2020-02-10",
        "high": "9628.66016",
        "low": "9493.62988",
        "open": "9493.62988",
        "volume": "2179310000"
    },
    {
        "close": "9520.50977",
        "datetime": "2020-02-07",
        "high": "9570.08984",
        "low": "9496.53027",
        "open": "9526.63965",
        "volume": "2238670000"
    },
    {
        "close": "9572.15039",
        "datetime": "2020-02-06",
        "high": "9575.66016",
        "low": "9505.67969",
        "open": "9540.98047",
        "volume": "2267300000"
    },
    {
        "close": "9508.67969",
        "datetime": "2020-02-05",
        "high": "9574.94043",
        "low": "9454.92969",
        "open": "9574.09961",
        "volume": "2462470000"
    },
    {
        "close": "9467.96973",
        "datetime": "2020-02-04",
        "high": "9485.37988",
        "low": "9374.04980",
        "open": "9398.38965",
        "volume": "2445420000"
    },
    {
        "close": "9273.40039",
        "datetime": "2020-02-03",
        "high": "9299.84961",
        "low": "9188.54980",
        "open": "9190.71973",
        "volume": "2420510000"
    },
    {
        "close": "9150.94043",
        "datetime": "2020-01-31",
        "high": "9324.79980",
        "low": "9123.21973",
        "open": "9324.33008",
        "volume": "2685840000"
    },
    {
        "close": "9298.92969",
        "datetime": "2020-01-30",
        "high": "9303.00000",
        "low": "9185.17969",
        "open": "9211.15039",
        "volume": "2333500000"
    },
    {
        "close": "9275.16016",
        "datetime": "2020-01-29",
        "high": "9329.12012",
        "low": "9249.04004",
        "open": "9318.25977",
        "volume": "2223480000"
    },
    {
        "close": "9269.67969",
        "datetime": "2020-01-28",
        "high": "9288.87012",
        "low": "9182.33008",
        "open": "9201.82031",
        "volume": "2157830000"
    },
    {
        "close": "9139.30957",
        "datetime": "2020-01-27",
        "high": "9185.45020",
        "low": "9088.04004",
        "open": "9092.45996",
        "volume": "2583330000"
    },
    {
        "close": "9314.91016",
        "datetime": "2020-01-24",
        "high": "9451.42969",
        "low": "9273.23047",
        "open": "9446.20996",
        "volume": "2611710000"
    },
    {
        "close": "9402.48047",
        "datetime": "2020-01-23",
        "high": "9409.20020",
        "low": "9334.12988",
        "open": "9377.71973",
        "volume": "2460050000"
    },
    {
        "close": "9383.76953",
        "datetime": "2020-01-22",
        "high": "9439.29004",
        "low": "9375.12988",
        "open": "9413.61035",
        "volume": "2449390000"
    },
    {
        "close": "9370.80957",
        "datetime": "2020-01-21",
        "high": "9397.58008",
        "low": "9350.20020",
        "open": "9361.07031",
        "volume": "2684540000"
    },
    {
        "close": "9388.94043",
        "datetime": "2020-01-17",
        "high": "9393.48047",
        "low": "9346.80957",
        "open": "9392.37012",
        "volume": "2522670000"
    },
    {
        "close": "9357.12988",
        "datetime": "2020-01-16",
        "high": "9357.91992",
        "low": "9301.32031",
        "open": "9313.45020",
        "volume": "2301400000"
    },
    {
        "close": "9258.70020",
        "datetime": "2020-01-15",
        "high": "9298.82031",
        "low": "9231.13965",
        "open": "9253.75977",
        "volume": "2435650000"
    },
    {
        "close": "9251.33008",
        "datetime": "2020-01-14",
        "high": "9298.33008",
        "low": "9226.49023",
        "open": "9270.61035",
        "volume": "2542170000"
    },
    {
        "close": "9273.92969",
        "datetime": "2020-01-13",
        "high": "9274.49023",
        "low": "9193.05957",
        "open": "9213.71973",
        "volume": "2530270000"
    },
    {
        "close": "9178.86035",
        "datetime": "2020-01-10",
        "high": "9235.20020",
        "low": "9164.66016",
        "open": "9232.95020",
        "volume": "2378990000"
    },
    {
        "close": "9203.42969",
        "datetime": "2020-01-09",
        "high": "9215.95020",
        "low": "9158.50000",
        "open": "9202.26953",
        "volume": "2534700000"
    },
    {
        "close": "9129.24023",
        "datetime": "2020-01-08",
        "high": "9168.88965",
        "low": "9059.37988",
        "open": "9068.03027",
        "volume": "2464090000"
    },
    {
        "close": "9068.58008",
        "datetime": "2020-01-07",
        "high": "9091.92969",
        "low": "9042.54980",
        "open": "9076.63965",
        "volume": "2352850000"
    },
    {
        "close": "9071.46973",
        "datetime": "2020-01-06",
        "high": "9072.41016",
        "low": "8943.50000",
        "open": "8943.50000",
        "volume": "2788120000"
    },
    {
        "close": "9020.76953",
        "datetime": "2020-01-03",
        "high": "9065.75977",
        "low": "8976.42969",
        "open": "8976.42969",
        "volume": "2567400000"
    },
    {
        "close": "9092.19043",
        "datetime": "2020-01-02",
        "high": "9093.42969",
        "low": "9010.88965",
        "open": "9039.45996",
        "volume": "2848370000"
    }
]

In [21]:
NDX_df = pd.DataFrame (NDX_data["values"])
#NDX_df= NDX_df.rename(columns={"index":"id"})
NDX_df["name"] = "NDX"

In [22]:
#convert to csv file
NDX_df.to_csv("NDX.csv",index=False)
NDX_df.head()

     datetime        open        high         low       close      volume name
0  2020-04-01  7584.01904  7701.64453  7424.00977  7492.36084   392108885  NDX
1  2020-03-31  7858.82178  8011.59619  7765.48877  7808.27588   986496790  NDX
2  2020-03-30  7695.22363  7902.08545  7654.16992  7885.62158   439158921  NDX
3  2020-03-27  7660.83008  7817.32080  7580.55762  7584.97803  1213602998  NDX
4  2020-03-26  7553.00928  7910.91016  7553.00928  7896.96777  1907945236  NDX

# Bitcoin

In [23]:
# Build the endpoint URL for Bitcoin
#Time : one day interval
# symbol ex: BTC/USD or XRP/ETH
# Exchange where cryptocurrency is traded is optional
target_url = ('https://api.twelvedata.com/time_series?symbol=BTC/USD&start_date=2020-01-01&exchange=Binance&interval=1day&apikey=b038f2a0c07c441693f65d634334050f')

In [24]:
# Run a request to endpoint and convert result to json
BTC_data = requests.get(target_url).json()

In [25]:
# Print the json (pretty printed)
#print(json.dumps(BTC_data["values"], indent=4, sort_keys=True))

In [26]:
BTC_df = pd.DataFrame (BTC_data["values"])
#BTC_df = BTC_df.rename(columns={"index":"id"})
BTC_df["name"] = "BTC"
BTC_df["volume"] = None

In [27]:
#convert to csv file
BTC_df.to_csv("BTC.csv",index=False)
BTC_df.head()

     datetime        open        high         low       close name volume
0  2020-04-01  6423.12988  6424.83984  6153.66992  6354.77002  BTC   None
1  2020-03-31  6384.00000  6515.29980  6341.29004  6410.77002  BTC   None
2  2020-03-30  5892.29004  6560.00000  5865.97998  6394.43018  BTC   None
3  2020-03-29  6242.02979  6261.04004  5877.54004  5882.18994  BTC   None
4  2020-03-28  6297.52002  6322.70020  6051.35010  6245.29004  BTC   None

# Combine Indices and Bitcoin

In [28]:
#combine stocks
combinestocksdf = pd.concat([DJI_df,BTC_df,SNP_df,IXIC_df],ignore_index=True)
combinestocksdf = combinestocksdf.reset_index()
combinestocksdf = combinestocksdf.rename(columns={"index":"id"}) 
combinestocksdf.to_csv("stocks.csv",index=False)
combinestocksdf.head()

C:\Users\kenne\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,id,close,datetime,high,low,name,open,volume
0,0,20956.18945,2020-04-01,21487.24023,20784.42969,DJI,21044.76953,297331882
1,1,21927.91016,2020-03-31,22480.36914,21852.08008,DJI,22208.41992,285960369
2,2,22322.91016,2020-03-30,22378.08984,21522.08008,DJI,21824.17969,299583961
3,3,21612.61914,2020-03-27,22327.57031,21472.33984,DJI,21898.47070,354169567
4,4,22535.64062,2020-03-26,22595.06055,21490.67969,DJI,21619.48047,403068931

# COVID-19

In [29]:
# Build the endpoint URL for COVID-19
# A summary of new and total cases per country updated daily.
# Source : https://covid19api.com/

target_url = ('https://api.covid19api.com/summary')

In [30]:
# Run a request to endpoint and convert result to json
COVID19_data = requests.get(target_url).json()

In [31]:
# Print the json (pretty printed)
#print(json.dumps(COVID19_data, indent=4, sort_keys=True))

In [32]:
COVID19_df = pd.DataFrame (COVID19_data["Countries"]).reset_index()
COVID19_df = COVID19_df.rename(columns={"index":"id"})

In [33]:
#convert to csv file
COVID19_df.to_csv("COVID19.csv",index=False)
COVID19_df.head()

,id,Country,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered
0,0,,,0,0,0,0,0,0
1,1,Azerbaijan,-azerbaijan,0,0,0,0,0,0
2,2,Afghanistan,afghanistan,4,174,0,4,3,5
3,3,Albania,albania,20,243,4,15,8,52
4,4,Algeria,algeria,132,716,9,44,9,46

# COVID-19 by country - US

In [34]:
# Build the endpoint URL for COVID-19 by country
# Returns confirmed type for a country from the first recorded case. 
# Source : https://covid19api.com/

target_url = ('https://api.covid19api.com/total/dayone/country/us/status/confirmed')

In [35]:
# Run a request to endpoint and convert result to json
US_data = requests.get(target_url).json()

In [36]:
# Print the json (pretty printed)
#print(json.dumps(US_data, indent=4, sort_keys=True))

In [37]:
US_df = pd.DataFrame (US_data).reset_index()
US_df = US_df.rename(columns={"index":"id"})

In [38]:
#convert to csv file
US_df.to_csv("US_Covid19.csv",index=False)
US_df.head()

   id Country Province  Lat  Lon                  Date  Cases     Status
0   0      US             0    0  2020-01-22T00:00:00Z      1  confirmed
1   1      US             0    0  2020-01-23T00:00:00Z      1  confirmed
2   2      US             0    0  2020-01-24T00:00:00Z      2  confirmed
3   3      US             0    0  2020-01-25T00:00:00Z      2  confirmed
4   4      US             0    0  2020-01-26T00:00:00Z      5  confirmed

# COVID-19 by country - ALL

In [39]:
# Build the endpoint URL for COVID-19 by country all data
# Returns confirmed type for a country from the first recorded case. 
# Source : https://covid19api.com/

target_url = ('https://api.covid19api.com/all')

In [40]:
# Run a request to endpoint and convert result to json
all_data = requests.get(target_url).json()

In [41]:
# Print the json (pretty printed)
#print(json.dumps(US_data, indent=4, sort_keys=True))

In [42]:
all_df = pd.DataFrame (all_data).reset_index()
all_df = all_df.rename(columns={"index":"id"})

In [43]:
#convert to csv file
all_df.to_csv("all_Covid19.csv",index=False)
all_df

,id,Country,Province,Lat,Lon,Date,Cases,Status
0,0,,,0.0000,0.0000,0001-01-01T00:00:00Z,0,
1,1,Azerbaijan,,0.0000,0.0000,2020-02-28T00:00:00Z,1,confirmed
2,2,Azerbaijan,,0.0000,0.0000,2020-02-28T00:00:00Z,0,recovered
3,3,Azerbaijan,,0.0000,0.0000,2020-02-28T00:00:00Z,0,deaths
4,4,Afghanistan,,33.0000,65.0000,2020-02-24T00:00:00Z,1,confirmed
...,...,...,...,...,...,...,...,...
113669,113669,Zimbabwe,,-19.0154,29.1549,2020-03-30T00:00:00Z,0,recovered
113670,113670,Zimbabwe,,-19.0154,29.1549,2020-03-30T00:00:00Z,1,deaths
113671,113671,Zimbabwe,,-19.0154,29.1549,2020-03-31T00:00:00Z,8,confirmed
113672,113672,Zimbabwe,,-19.0154,29.1549,2020-03-31T00:00:00Z,0,recovered
113673,113673,Zimbabwe,,-19.0154,29.1549,2020-03-31T00:00:00Z,1,deaths