In [1]:
# Dependencies
import pandas as pd
import numpy as np
import io
import requests
import json

# API Key
#from config import key

In [2]:
# Import SQLAlchemy `automap` and other dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Dow Jones Industrial Average

In [3]:
# Build the endpoint URL for Dow Jones Industrial Average
# Time : one day interval
target_url = ('https://api.twelvedata.com/time_series?symbol=DJI&exchange=NYSE&start_date=2020-01-01&interval=1day&apikey=b038f2a0c07c441693f65d634334050f')

In [4]:
# Run a request to endpoint and convert result to json
DJI_data = requests.get(target_url).json()

In [5]:
# Print the json (pretty printed)
#print(json.dumps(DJI_data["values"], indent=4, sort_keys=True))

In [6]:
DJI_df = pd.DataFrame (DJI_data["values"])
#DJI_df= DJI_df.rename(columns={"index":"id"})
DJI_df["name"] = "DJI"

In [7]:
#convert to csv file
DJI_df.to_csv("DJI.csv",index=False)
DJI_df.head()

,datetime,open,high,low,close,volume,name
0,2020-03-31,22208.41992,22480.36914,21884.60938,22031.16992,253396096,DJI
1,2020-03-30,21824.17969,22378.08984,21522.08008,22322.91016,299583961,DJI
2,2020-03-27,21898.47070,22327.57031,21472.33984,21612.61914,354169567,DJI
3,2020-03-26,21619.48047,22595.06055,21490.67969,22535.64062,403068931,DJI
4,2020-03-25,20860.40039,22019.92969,20538.33984,21196.33984,454357332,DJI

# S&P 500

In [8]:
# Build the endpoint URL for S&P 500
# Time : one day interval
target_url = ('https://api.twelvedata.com/time_series?symbol=GSPC&start_date=2020-01-01&interval=1day&apikey=b038f2a0c07c441693f65d634334050f')

In [9]:
# Run a request to endpoint and convert result to json
SNP_data = requests.get(target_url).json()

In [10]:
# Print the json (pretty printed)
#print(json.dumps(SNP_data["values"], indent=4, sort_keys=True))

In [11]:
SNP_df = pd.DataFrame (SNP_data["values"])
#SNP_df= SNP_df.rename(columns={"index":"id"})
SNP_df["name"] = "SNP"

In [12]:
#convert to csv file
SNP_df.to_csv("SNP.csv",index=False)
SNP_df.head()

     datetime        open        high         low       close      volume name
0  2020-03-31  2614.82007  2640.98999  2571.14990  2590.37012  1971933120  SNP
1  2020-03-30  2565.37988  2631.80005  2545.28003  2626.04004  2225339428  SNP
2  2020-03-27  2543.04004  2615.90991  2520.65991  2540.04004  2063538660  SNP
3  2020-03-26  2521.12012  2637.01001  2506.44995  2629.37012  2655840625  SNP
4  2020-03-25  2457.77002  2571.41992  2407.53003  2475.34009  3183872257  SNP

# NASDAQ

In [13]:
# Build the endpoint URL for NASDAQ
# Time : one day interval
target_url = ('https://api.twelvedata.com/time_series?symbol=IXIC&start_date=2020-01-01&interval=1day&apikey=b038f2a0c07c441693f65d634334050f')

In [14]:
# Run a request to endpoint and convert result to json
IXIC_data = requests.get(target_url).json()

In [15]:
# Print the json (pretty printed)
#print(json.dumps(IXIC_data["values"], indent=4, sort_keys=True))

In [16]:
IXIC_df = pd.DataFrame (IXIC_data["values"])
#IXIC_df= IXIC_df.rename(columns={"index":"id"})
IXIC_df["name"] = "IXIC"

In [17]:
#convert to csv file
IXIC_df.to_csv("Nasdaq.csv",index=False)
IXIC_df.head()

,datetime,open,high,low,close,volume,name
0,2020-03-31,7743.04980,7880.31348,7642.87939,7702.72803,1744230223,IXIC
1,2020-03-30,7587.31055,7784.34619,7539.96582,7770.03711,1979451848,IXIC
2,2020-03-27,7574.37207,7715.94189,7493.79736,7499.83838,3446107920,IXIC
3,2020-03-26,7468.89111,7808.19678,7468.89111,7792.99756,6878229161,IXIC
4,2020-03-25,7418.16309,7670.94434,7276.55908,7383.61963,7215439423,IXIC

# Bitcoin

In [18]:
# Build the endpoint URL for Bitcoin
#Time : one day interval
# symbol ex: BTC/USD or XRP/ETH
# Exchange where cryptocurrency is traded is optional
target_url = ('https://api.twelvedata.com/time_series?symbol=BTC/USD&start_date=2020-01-01&exchange=Binance&interval=1day&apikey=b038f2a0c07c441693f65d634334050f')

In [19]:
# Run a request to endpoint and convert result to json
BTC_data = requests.get(target_url).json()

In [20]:
# Print the json (pretty printed)
#print(json.dumps(BTC_data["values"], indent=4, sort_keys=True))

In [21]:
BTC_df = pd.DataFrame (BTC_data["values"])
#BTC_df = BTC_df.rename(columns={"index":"id"})
BTC_df["name"] = "BTC"
BTC_df["volume"] = None

In [22]:
#convert to csv file
BTC_df.to_csv("BTC.csv",index=False)
BTC_df.head()

     datetime        open        high         low       close name volume
0  2020-03-31  6384.00000  6515.29980  6341.29004  6459.43018  BTC   None
1  2020-03-30  5892.29004  6560.00000  5865.97998  6394.43018  BTC   None
2  2020-03-29  6242.02979  6261.04004  5877.54004  5882.18994  BTC   None
3  2020-03-28  6297.52002  6322.70020  6051.35010  6245.29004  BTC   None
4  2020-03-27  6745.43018  6831.70996  6323.60986  6363.50000  BTC   None

# Combine Indices and Bitcoin

In [23]:
#combine stocks
combinestocksdf = pd.concat([DJI_df,BTC_df,SNP_df,IXIC_df],ignore_index=True)
combinestocksdf = combinestocksdf.reset_index()
combinestocksdf = combinestocksdf.rename(columns={"index":"id"}) 
combinestocksdf.to_csv("stocks.csv",index=False)
combinestocksdf.head()

C:\Users\kenne\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,id,close,datetime,high,low,name,open,volume
0,0,22031.16992,2020-03-31,22480.36914,21884.60938,DJI,22208.41992,253396096
1,1,22322.91016,2020-03-30,22378.08984,21522.08008,DJI,21824.17969,299583961
2,2,21612.61914,2020-03-27,22327.57031,21472.33984,DJI,21898.47070,354169567
3,3,22535.64062,2020-03-26,22595.06055,21490.67969,DJI,21619.48047,403068931
4,4,21196.33984,2020-03-25,22019.92969,20538.33984,DJI,20860.40039,454357332

# COVID-19

In [24]:
# Build the endpoint URL for COVID-19
# A summary of new and total cases per country updated daily.
# Source : https://covid19api.com/

target_url = ('https://api.covid19api.com/summary')

In [25]:
# Run a request to endpoint and convert result to json
COVID19_data = requests.get(target_url).json()

In [26]:
# Print the json (pretty printed)
#print(json.dumps(COVID19_data, indent=4, sort_keys=True))

In [27]:
COVID19_df = pd.DataFrame (COVID19_data["Countries"]).reset_index()
COVID19_df = COVID19_df.rename(columns={"index":"id"})

In [28]:
#convert to csv file
COVID19_df.to_csv("COVID19.csv",index=False)
COVID19_df.head()

,id,Country,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered
0,0,,,0,0,0,0,0,0
1,1,Azerbaijan,-azerbaijan,0,0,0,0,0,0
2,2,Afghanistan,afghanistan,50,170,0,4,0,2
3,3,Albania,albania,11,223,1,11,11,44
4,4,Algeria,algeria,73,584,4,35,6,37

In [29]:
# Build the endpoint URL for COVID-19 by country
# Returns confirmed type for a country from the first recorded case. 
# Source : https://covid19api.com/

target_url = ('https://api.covid19api.com/total/dayone/country/us/status/confirmed')

In [30]:
# Run a request to endpoint and convert result to json
US_data = requests.get(target_url).json()

In [31]:
# Print the json (pretty printed)
#print(json.dumps(US_data, indent=4, sort_keys=True))

In [32]:
US_df = pd.DataFrame (US_data).reset_index()
US_df = US_df.rename(columns={"index":"id"})

In [33]:
#convert to csv file
US_df.to_csv("US_Covid19.csv",index=False)
US_df.head()

   id Country Province  Lat  Lon                  Date  Cases     Status
0   0      US             0    0  2020-01-22T00:00:00Z      1  confirmed
1   1      US             0    0  2020-01-23T00:00:00Z      1  confirmed
2   2      US             0    0  2020-01-24T00:00:00Z      2  confirmed
3   3      US             0    0  2020-01-25T00:00:00Z      2  confirmed
4   4      US             0    0  2020-01-26T00:00:00Z      5  confirmed